//
// GRID
// ====
// Reference: https://github.com/clocklimited/responsive-grid
//


//
// BASE GRID STYLES
//

grid-base()


//
// GRID MODIFIERS
//

grid-gutter-modifier('gutterless', 0)

.grid--middled
  > .grid__item
    vertical-align middle

.grid--right
  text-align right

.grid--left
  text-align left

.grid--center
  text-align center



//
// GRID WIDTHS
// Only add widths when required, to keep compiled CSS clean
//

grid-widths('', 1 2 3 4 6 7 8 9 10)

+width-min($mq--tablet)
  grid-widths('tablet', 2 3 4)

+width-min($mq--desktop)
  grid-widths('desktop', 2)
