//
// INDEX STYLESHEET
// ================
// All Stylus requires should live in here.
//


//
// SETUP
//

@require 'stylus-mixins'
@require 'responsive-grid'
@require 'utilities/fonts'
@require 'utilities/settings'


//
// FOUNDATIONS
// Base HTML and generic site-wide elements
//

@require 'foundations/base'

// Typography
@require 'foundations/typography'
@require 'foundations/prose'

// Layout
@require 'foundations/grid'
@require 'foundations/content-center'

// Content
@require 'foundations/control'
@require 'foundations/field'
@require 'foundations/list'

// State
@require 'foundations/visibility'

//
// GENERIC COMPONENTS
//


//
// EXTERNAL PLUGINS
//


//
// DEVELOPMENT STYLES
//

if $environment == 'development'

  @require 'style-guide/*'
